<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico" />
    
    <title>LMS</title>

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/e87ebb70cc.js" crossorigin="anonymous"></script>
    <!-- Bootstrap core CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <!-- Custom styles for this template -->
  </head>

  <style>
    .vertical-center {
        min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
        min-height: 100vh; /* These two lines are counted as one :-)       */

        display: flex;
        align-items: center;
      }
  </style>

  <main>
    <div class="container">
      <div class="row justify-content-center pt-3 shadow-sm rounded bg-white my-3">
        <div class="col-md-6">
          <h3 class="my-3 text-center">Total Poin</h3>
        </div>
        <div class="w-100"></div>
        <div class="col-md-6">
          <h1 class="text-center">1234567890</h1>
        </div>
      </div>

      <div class="row row-cols-3 justify-content-center pt-3 shadow-sm rounded bg-white my-3">
        <div class="col">
          <h5 class="text-center">Total File Yang Dibagikan</h5>
        </div>
        <div class="col">
          <h5 class="text-center">Rata-rata Poin</h5>
        </div>
        <div class="col">
          <h5 class="text-center">Total Mata Pelajaran</h5>
        </div>
        <div class="col">
          <h3 class="py-3 text-center">10</h3>
        </div>
        <div class="col">
          <h3 class="py-3 text-center">70</h3>
        </div>
        <div class="col">
          <h3 class="py-3 text-center">3</h3>
        </div>
      </div>

      <div class="row justify-content-center pt-3 shadow-sm rounded bg-white my-3">
        <div class="col p-3">
          <h3 class="ml-3">
            <b>Materi</b>
          </h3>

          <div class="row row-cols-5 justify-content-center pt-3">
            <div class="col-auto pt-3">
              <a href="#">
                <div class="card" style="width: 12rem;">
                  <img class="card-img-top" src="/LMSWebDev/gambar/math.png" alt="Card image cap" style="max-height: 500px;">
                  <div class="card-body">
                    <h5 class="card-title">Matematika</h5>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-auto pt-3">
              <a href="#">
                <div class="card" style="width: 12rem;">
                  <img class="card-img-top" src="/LMSWebDev/gambar/fisika.png" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Fisika</h5>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-auto pt-3">
              <a href="#">
                <div class="card" style="width: 12rem;">
                  <img class="card-img-top" src="/LMSWebDev/gambar/kimia.png" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Kimia</h5>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-auto pt-3">
              <a href="#">
                <div class="card" style="width: 12rem;">
                  <img class="card-img-top" src="/LMSWebDev/gambar/biologi.png" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Biologi</h5>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-auto pt-3">
              <a href="#">
                <div class="card" style="width: 12rem;">
                  <img class="card-img-top" src="/LMSWebDev/gambar/bahasa.png" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Bahasa</h5>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-auto pt-3">
              <a href="#">
                <div class="card" style="width: 12rem;">
                  <img class="card-img-top" src="/LMSWebDev/gambar/sosiologi.png" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Sosiologi</h5>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-auto pt-3">
              <a href="#">
                <div class="card" style="width: 12rem;">
                  <img class="card-img-top" src="/LMSWebDev/gambar/geografi.png" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Geografi</h5>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-auto pt-3">
              <a href="#">
                <div class="card" style="width: 12rem;">
                  <img class="card-img-top" src="/LMSWebDev/gambar/ekonomi.png" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Ekonomi</h5>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-auto pt-3">
              <a href="#">
                <div class="card" style="width: 12rem;">
                  <img class="card-img-top" src="/LMSWebDev/gambar/sejarah.png" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Sejarah</h5>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-auto pt-3">
              <a href="#">
                <div class="card" style="width: 12rem;">
                  <img class="card-img-top" src="/LMSWebDev/gambar/agama.png" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Agama</h5>
                  </div>
                </div>
              </a>
            </div>

          </div>
        </div>        
        
        
      </div>

    </div>
  </main>