<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>

</head> 
   
<body class="bg-light">
  <!--navbar-->
  <div class="shadow-sm p-0">
    <nav class="navbar navbar-expand navbar-light bg-white">
      <div class="container">
        <a class="navbar-brand" ><b>LMS</b></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
     
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
     
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/myfiles">My File</a>
            </li>
          </ul>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a
              class="nav-link"
              href="#"
              id="menuProfil"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="true"
            >
            username
            </a>
           
            <div
              class="dropdown-menu dropdown-menu-right"
              aria-labelledby="menuProfil"
            >
              <a class="dropdown-item" href="/user/profile"> Ubah Profil </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#"> Sign Out </a>
            </div>
          </li>
        </ul>
        </div>
      </div>
    </nav>
  </div>

  <!------------NAV BAAR-->
   <main>
      <div class="container">
        <div
          class="row justify-content-center pt-3 shadow-sm rounded bg-white my-3"
        >
          <div class="col-md-6">
            <h4 class="my-3"><b>Profil</b></h4>
            <form class="needs-validation" novalidate>
              <div class="mb-3">
                <label for="name"><b>Nama</b></label>
                <input
                  type="text"
                  class="form-control"
                  id="Nama"
                  name="nama"
                  placeholder=""
                  value=""
                  required
                />
              </div>

              <div class="mb-3">
                <label for="email"><b>Email</b></label>
                <input
                  type="text"
                  class="form-control"
                  id="Email"
                  name="email"
                  placeholder=""
                  required
                />
              </div>

              <div class="mb-3">
                <label for="username"> <b>Username</b></label>
                <input
                  type="text"
                  class="form-control"
                  id="Username"
                  name="username"
                  placeholder=""
                  required
                />
              </div>

              <div class="mb-3">
                <label for="password"><b>Password</b></label>
                <input
                  type="password"
                  class="form-control"
                  id="Password"
                  name="password"
                  placeholder=""
                  required
                />
              </div>

              <div class="mb-3">
                <label for="institusi"><b>Institusi</b></label>
                <input
                  type="text"
                  class="form-control"
                  id="Institusi"
                  name="institusi"
                  placeholder=""
                  required
                />
              </div>

              <div class="mb-3">
                <label for="instagram"><b>Instagram</b></label>
                <input
                  type="text"
                  class="form-control"
                  id="Instagram"
                  name="instagram"
                  placeholder=""
                  required
                />
              </div>

              <div class="mb-3">
                <label for="facebook"><b>Facebook</b></label>
                <input
                  type="text"
                  class="form-control"
                  id="Facebook"
                  name="facebook"
                  placeholder=""
                  required
                />
              </div>

              <div class="mb-3">
                <label for="youtube"><b>Youtube</b></label>
                <input
                  type="text"
                  class="form-control"
                  id="Youtube"
                  name="youtube"
                  placeholder=""
                  required
                />
              </div>

              <hr class="mb-4" />

              <button
                class="btn btn-danger btn-block col-md-3 mb-5"
                type="submit"
              >
                Ubah Profil
              </button>
            </form>
          </div>
        </div>
      </div>
    </main>