  <body class="bg-light">
    <div class="container">
      <div class="row justify-content-center pt-5 mt-5">
        <div class="col-md-6">
          <form class="needs-validation border p-5 rounded bg-white shadow-lg" novalidate method="POST" action="">
            <h4 class="mb-3"><b>Register</b></h4>

            <div class="mb-3">
              <label for="nama"> <b>Nama</b></label>
              <input
                type="text"
                class="form-control"
                id="Nama"
                placeholder=""
                required
                name="nama"
                value=""
              />
            </div>

            <div class="mb-3">
              <label for="email"><b>Email</b></label>
              <input
                type="text"
                class="form-control"
                id="Pass"
                placeholder=""
                value=""
                required
                name="email"
              />
            </div>

            <div class="mb-3">
              <label for="username"> <b>Username</b></label>
              <input
                type="text"
                class="form-control"
                id="Username"
                placeholder=""
                required
                name="username"
                value=""
              />
            </div>

            <div class="mb-3">
              <label for="pass"><b>Password</b></label>
              <input
                type="password"
                class="form-control"
                id="pass"
                placeholder=""
                value=""
                required
                name="password"
              />
            </div>

            <div class="mb-3">
              <label for="institusi"> <b>Institusi</b></label>
              <input
                type="text"
                class="form-control"
                id="Institusi"
                placeholder=""
                required
                name="institusi"
                value=""
              />
            </div>

            <div class="mb-3">
              <label for="instagram"><b>Instagram</b></label>
              <input
                type="text"
                class="form-control"
                id="Instagram"
                placeholder=""
                value=""
                required
                name="instagram"
              />
            </div>

            <div class="mb-3">
              <label for="facebook"> <b>Facebook</b></label>
              <input
                type="text"
                class="form-control"
                id="Facebook"
                placeholder=""
                required
                name="facebook"
                value=""
              />
            </div>

            <div class="mb-3">
              <label for="youtube"><b>Youtube</b></label>
              <input
                type="text"
                class="form-control"
                id="Youtube"
                placeholder=""
                value=""
                required
                name="youtube"
              />
            </div>

            <hr class="mb-4" />

            <button class="btn btn-danger btn-lg btn-block" type="submit">
              Sign in
            </button>

          </form>
        </div>
      </div>
    </div>