<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico" />
    
    <title>LMS </title>

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/e87ebb70cc.js" crossorigin="anonymous"></script>
    <!-- Bootstrap core CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <!-- Custom styles for this template -->
  </head>
   
   
   <main>
      <div class="container">
        <div
          class="row justify-content-center pt-3 shadow-sm rounded bg-white my-3"
        >
          <div class="col-md-6">
            <h4 class="my-3"><b>Profil</b></h4>
            <form class="needs-validation" novalidate>
              <div class="mb-3">
                <label for="username"> <b>Username</b></label>
                <input
                  type="text"
                  class="form-control"
                  id="Username"
                  name="username"
                  placeholder=""
                  required
                />
              </div>

              <div class="mb-3">
                <label for="password"><b>Password</b></label>
                <input
                  type="password"
                  class="form-control"
                  id="Password"
                  name="password"
                  placeholder=""
                  required
                />
              </div>

              <div class="mb-3">
                <label for="name"><b>Nama</b></label>
                <input
                  type="text"
                  class="form-control"
                  id="Nama"
                  name="nama"
                  placeholder=""
                  value=""
                  required
                />
              </div>

              <div class="mb-3">
                <label for="email"><b>Email</b></label>
                <input
                  type="text"
                  class="form-control"
                  id="Email"
                  name="email"
                  placeholder=""
                  required
                />
              </div>

              <div class="mb-3">
                <label for="institusi"><b>Institusi</b></label>
                <input
                  type="text"
                  class="form-control"
                  id="Institusi"
                  name="institusi"
                  placeholder=""
                  required
                />
              </div>

              <div class="mb-3">
                <label for="instagram"><b>Instagram</b></label>
                <input
                  type="text"
                  class="form-control"
                  id="Instagram"
                  name="instagram"
                  placeholder=""
                  required
                />
              </div>

              <div class="mb-3">
                <label for="facebook"><b>Facebook</b></label>
                <input
                  type="text"
                  class="form-control"
                  id="Facebook"
                  name="facebook"
                  placeholder=""
                  required
                />
              </div>

              <div class="mb-3">
                <label for="youtube"><b>Youtube</b></label>
                <input
                  type="text"
                  class="form-control"
                  id="Youtube"
                  name="youtube"
                  placeholder=""
                  required
                />
              </div>

              <hr class="mb-4" />

              <button
                class="btn btn-danger btn-block col-md-3 mb-5"
                type="submit"
              >
                Register
              </button>
            </form>
          </div>
        </div>
      </div>
    </main>